.category-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
}
.category-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem auto;
}
