.logo-decoder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.slide-bg {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.auth-form-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
