.item-detail-card {
  width: 100%;
  min-height: 60vh;
  margin-top: 1rem;
  padding: 0 0.3rem;

  .product-preview {
    display: grid;
    grid-template-columns: 5fr 3fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;

    @media screen and (max-width: 800px) {
      margin-top: 0.2rem;
      grid-template-columns: auto;
    }
  }
  .item-reviews {
    h2 {
      margin-top: 4rem;
    }
    .reviews {
      display: flex;
      .review-input {
        width: 100%;
        flex: 2;
        border-radius: 0.5rem;

        form {
          display: flex;
          padding: 1.5rem;
          flex-direction: column;
          justify-content: space-between;
          background-color: #f6f9fc;

          input,
          textarea {
            margin-bottom: 0.8rem;
          }
        }
        @media screen and (min-width: 800px) {
          max-width: 98%;
          margin-left: 2%;
          align-items: flex-end;
        }
      }

      .review-list {
        flex: 5;
        .review-sort {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 1rem;

          label {
            margin-right: 1rem;
          }
        }
      }
      @media screen and (max-width: 540px) {
        flex-direction: column;
        .review-input {
          order: 0;
        }
        .review-list {
          order: 1;
        }
      }
    }
  }
}
